<h1>Sign Up Here</h1>
<br>
<% if flash['nosignup'] %>
	<% flash['nosignup'].each do |k,v| %>
		<div class="alert-danger"><%= p v[0] %></div>
	<% end %>
<% end %>
<%= form_for @user do |u| %>
	<%= u.text_field :first_name, placeholder: "First Name" %><br>
	<%= u.text_field :last_name, placeholder: "Last Name" %><br>
	<%= u.text_field :email, placeholder: "Email" %><br>
	<%= u.password_field :password, placeholder: "Password" %><br>
	<%= u.password_field :password_confirmation, placeholder: "Confirm Password" %>
	<br>
	<%= u.submit "Sign Up" %><br>
<% end %>