<div class= "col-md-3 col-md-offset-4"><% if flash['nosignup'] %>
		<% flash['nosignup'].each do |k,v| %>
			<div class="alert-danger text-center"><%= p v[0] %></div>
		<% end %>
	<% end %>
</div>
<h1 class="col-md-3 col-md-offset-4 text-center">Sign Up Here</h1>
<%= form_for @user do |u| %>
	<div class="row">
		<div class="col-md-3 col-md-offset-4"><%= u.text_field :first_name, placeholder: "First Name", class: "form-control" %></div><br>
	</div><br>
	
	<div class="row">
		<div class="col-md-3 col-md-offset-4"><%= u.text_field :last_name, placeholder: "Last Name", class: "form-control" %></div><br>
	</div><br>

	<div class="row">
		<div class="col-md-3 col-md-offset-4"><%= u.text_field :email, placeholder: "Email", class: "form-control" %></div><br>
	</div><br>

	<div class="row">
		<div class="col-md-3 col-md-offset-4"><%= u.password_field :password, placeholder: "Password", class: "form-control" %></div><br>
	</div><br>

	<div class="row">
		<div class="col-md-3 col-md-offset-4"><%= u.password_field :password_confirmation, placeholder: "Confirm Password", class: "form-control" %></div><br>
	</div><br>

	<div class="row">
		<div class="col-md-3 col-md-offset-4 text-center"><%= u.collection_select(:city_id, City.all, :id, :name) %></div><br>
	</div><br>

	<div class="col-md-3 col-md-offset-4"><%= u.submit "Sign Up", class: "btn btn-default center-block" %></div><br>
<% end %>


<%= render partial: "/users/footer" %>
