<%= render partial: "users/nav", locals: {user: @user} %>
<h1>Make a new post</h1>

<div>
<%= form_for @post do |f|%>
	<div><%= f.text_field :title, placeholder: "Post title" %></div>
	<div><%= f.text_area :content, placeholder: "Post content" %></div>
	<%= f.submit "Submit"%>
	<% end %>

</div>
