<%= render partial: "users/nav", locals: {user: @user} %>
<!-- <h1>Post #<%= @post.id %></h1> -->
<div class="row margin50">
	<div class="col-sm-3" id="sidebar">
		<h1 class"col-xs-9"><%= @post.user.first_name %></h1>
		<a class="logo"><%= image_tag avatar_url(current_user, 200) %></a>
	</div>

	<img class="col-xs-6 top-margin20" src="https://shechive.files.wordpress.com/2012/11/hipster-shit-12-5.gif">
	<div class="row">
		<div class="col-xs-4 col-md-offset-3"><h2><%= @post.title %></h2></div>
		<hr class="col-xs-5 col-md-offset-3">
		<div class="col-sm-6 col-md-offset-3"><%= @post.content %></div>
	</div>
</div>

<div class="col-md-9"><blockquote class="blockquote-reverse"><%= link_to "Back to Profile", user_path(@post.user_id) %></blockquote>
</div>


<%= render partial: "/users/footer" %>