<%= render partial: "users/nav", locals: {user: @user} %>
<!-- <h1>Post #<%= @post.id %></h1> -->
<div>
<div class="col-sm-3" id="sidebar">
	<h1 class"col-xs-9"><%= @post.user.first_name %></h1>
	<a class="logo" href="#"><img class="img-circle" src="http://en.gravatar.com/userimage/89188293/f1a1fad796be8a6aee01f4d34e9c6220.jpg?size=200"></a>
</div>
</div>

<div class="row">
	<img class="col-xs-6" src="https://shechive.files.wordpress.com/2012/11/hipster-shit-12-5.gif">
	<div class="row"><br>
		<div class="col-xs-6 col-md-offset-3"><h2><%= @post.title %></h2></div><br>
		<hr class="col-xs-5 col-md-offset-3">
		<div class="col-sm-5 col-md-offset-3"><%= @post.content %></div>
	</div>
</div>

<br><br><br><br>
<div class="col-md-9"><blockquote class="blockquote-reverse"><%= link_to "Back to Profile", user_path(@post.user_id) %></blockquote></div>
</br>
