<%= render partial: "/users/nav" %>
<div class="container">
<div class="row margin50">
<div class="col-md-6 col-md-offset-3">
  <h1><%= @city.name %></h1>

  <div><img class="city" src="<%= @city.picture %>"></div>

  <h2>recent travel log posts</h2>
	 <% @cityposts.reverse.each do |p| %>
      <div class="row well">    
      <%= button_to " x ", post_path(p.id), :class => "btn btn-xs btn-danger pull-right", :method => :delete,  data: { confirm: "Are you sure you want to delete #{p.title}?" } %>
      <div class="col-md-8">
        <h3><%= link_to "#{p.title}", post_path(p.id) %></h3> 
        <div class="col-md-3 row top-margin20">
        <%= button_to "Edit Post", edit_post_path(p.id), :class => "btn btn-xs btn-primary", :method => :get  %>
      </div>
        <!-- <span class="label label-default"><%= p.city.name %></span>-->
      
      </div>
    </div>


         
    <% end %>
    </div>
  </div>
</div>